<div class="map-wrapper" (click)="onClickOutsideSuggestions($event)">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchInput()"
      placeholder="Search location..."
    />
    <ul *ngIf="showSuggestions" class="search-suggestions">
      <li *ngFor="let result of searchResults" (click)="selectLocation(result)">
        {{ result.display_name }}
      </li>
    </ul>
  </div>

  <div *ngIf="currentMeasurement" class="measurement-box">
    <p><strong>Area:</strong> {{ formatArea(currentMeasurement.area) }}</p>
    <p><strong>Perimeter:</strong> {{ formatPerimeter(currentMeasurement.perimeter) }}</p>
  </div>

  <div id="map" class="map-container"></div>
</div>
